.battleground {
    animation: fadeIn .8s ease-in;
    display: flex;
    justify-content: space-around;
    width: 100%;

    &__panel {
        background: #fff;
        flex: 1;
        margin-left: 32px;
        margin-top: 48px;
        max-width: calc(50% - 32px);
    }

    &__field {
        flex: 0 0 ($tile-width * 4);
    }
}
