$animation-duration: 2s;
$mana-bg: #0066ff;
$mana-bg--empty: #d8d8d8;
$game-bar-bg: #fefefe;

.battleground {
    display: flex;

    &__panel {
        flex: 1;
        overflow: hidden;
        margin-left: 64px;

        .game-bar {
            width: fit-content;
            background: $game-bar-bg;
            z-index: 1;
            display: flex;
            align-items: center;
            padding: 8px 16px;
        }

        .mana-indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--light-text);
            width: 1.5em;
            height: 1.5em;
            background-color: $mana-bg;
            transition: background-color 1s ease-out;
            transform: rotate(45deg);
            margin: 16px;

            &--empty {
                background-color: $mana-bg--empty;
                color: var(--dark-text);
            }

            span {
                font-size: 1.2em;
                transform: rotate(-45deg);
            }
        }

        .turn-indicator {
            animation: turnIndicator 1.5s forwards;
            border-radius: 8px;
            background: linear-gradient(to right, $user-bg, darken($user-bg, 5%));
            position: fixed;
            top: 5%;
            max-width: 50%;
            padding: 10px 20px;
            border-radius: 3px;
            margin: 10px auto;
            color: var(--light-text);

            &--enemy {
                animation: none;
                background: linear-gradient(to right, $enemy-bg, darken($enemy-bg, 5%));
            }
        }
    }

    &__field {
        flex: 0 0 ($tile-width * 4);
    }

    .events-list {
        background: wheat;
        padding: 1em;
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .event + .event {
            margin-top: 4px;
        }
    }

    .map {
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.125);
        display: grid;
        grid-template-columns: $tile-width $tile-width $tile-width $tile-width;
        margin-top: 8px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes translateUserTile {
    0% {
        transform: translate(0, -64px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes translateCpuTile {
    0% {
        transform: translate(0, 64px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes deadTile {

    0%,
    10%,
    20%,
    30%,
    40% {
        transform: translate3d(0, 0, 0);
    }

    5%,
    15%,
    25%,
    35% {
        transform: translate3d(-10px, 0, 0);
    }

    41% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes turnIndicator {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}
