.fight-sim {
    display: flex;
    flex-direction: row;
}

.cards-with-search {
    animation: fadeIn 1.5s forwards;
    background: $cards-container-bg;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em;

    &--hidden {
        display: none;
    }

    .search-bar {
        margin-bottom: 0;
        width: 50%;
    }
}

.cards-select {
    display: flex;
    flex-direction: row;
    overflow: auto;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 2px;
        height: 10px;

        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #a0a0a0;
    }
}

.cards-showcase {
    background: $cards-container-bg;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
    align-items: center;
    padding: 0 1em;

    .card {
        transform: none;
        cursor: default;
    }
}

.card {
    justify-content: flex-start;
    background: darken($cards-container-bg, 5%);
    border: 1px solid darken($cards-container-bg, 10%);
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    min-width: $card-width;
    transition: $game-transition;
    width: $card-width;

    &+.card {
        margin-left: 8px;
    }

    &--unavailable {
        cursor: not-allowed;
        opacity: .5;
    }

    &--selected {
        background: wheat;
    }

    .btn-card-select {
        align-self: flex-end;
        width: 50%;
        margin: 4px auto;
    }

    .card-title {
        display: flex;
        flex-direction: column;
        background: $secondary-color;
        color: $secondary-text-color;
        flex: 1;
        max-height: 32px;
        padding: 4px;
        text-align: center;
        justify-content: center;

        i {
            margin-left: 4px;
            vertical-align: middle;
        }
    }

    .stats-placeholder {
        flex: 1;
        padding: 4px 8px;
        text-align: center;
    }

    .stats {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin: 8px 0;

        .stat {
            margin: 4px;
            padding: 4px;
            display: flex;
            flex-direction: row;
            align-items: baseline;

            &--mana {
                .stat__value {
                    background: $mana-bg;
                }
            }

            &--mana {
                .stat__value {
                    background: $mana-bg;
                }
            }

            &--mana {
                .stat__value {
                    background: $mana-bg;
                }
            }

            &__label {
                text-transform: uppercase;
                font-size: .8em;
                vertical-align: middle;

                svg {
                    font-size: 1.2em;
                    margin-right: 4px;
                    vertical-align: bottom;
                }
            }

            &__value {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--light-text);
                width: 1.5em;
                height: 1.5em;
                background-color: var(--dark-text);
                transition: background-color 1s ease-out;
                transform: rotate(45deg);
                margin-left: auto;

                span {
                    font-size: 1em;
                    transform: rotate(-45deg);
                }
            }
        }


    }

    .mana-cost {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light-text);
        width: 1.5em;
        height: 1.5em;
        background: $mana-bg;
        transition: background-color 1s ease-out;
        transform: rotate(45deg);
        margin: 4px 0;

        &--empty {
            background: $mana-bg--empty;
            color: var(--dark-text);
        }

        span {
            font-size: 1.2em;
            transform: rotate(-45deg);
        }
    }
}
