$events-bg: #ffffff;

.events {
    background: $events-bg;
    padding: 1em;

    h2 {
        margin-top: 0;
    }

    &__list {
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .event {
            animation: fadeIn 1.5s forwards;
            background: darken($events-bg, 1%);

            &:nth-child(even) {
                background: darken($events-bg, 3%);

                &.event--generic {
                    background: $events-bg;
                }
            }

            &--generic {
                border-bottom: 3px solid $primary-color;
                background: $events-bg;
                font-size: 1.2em;
                padding: 8px 0 0;
                margin-bottom: 4px;
                width: fit-content;
            }

            &__log {
                margin: 4px 16px;
            }

            .event-toggle {
                padding: 0;
                margin: 0;
                position: relative;

                svg {
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
}
