$stripe-bg: rgba(54, 54, 54, 0.2);
$max-map-width: 256px;

.battleground__field {
    .map {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 8px auto;
        max-width: $max-map-width;

        &--destroyed {
            animation-fill-mode: forwards;
            animation-name: destroy;
            animation-duration: 5s;
            transform-origin: 50% 50%;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
        }
    }
}
