.game-bar {
    align-items: flex-end;
    background: $game-bar-bg;
    display: flex;
    margin-top: 8px;
    padding: 8px;

    .btn {
        margin: 0 4px;

        &.restart-game {
            margin-left: auto;
        }
    }

    .game-bar-container {
        display: flex;
        flex-direction: column;
        margin: 0 4px;

        .label {
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }

    .lane-select {
        display: flex;
        flex-direction: row;

        .lane {
            cursor: pointer;
            border-bottom: 3px solid transparent;
            padding: 4px 8px;
            transform: scale(.9);
            transition: $game-transition;

            &--win {
                background: $winter-tile-bg;
                color: var(--light-text);
            }

            &--spr {
                background: $spring-tile-bg;
                color: var(--dark-text);
            }

            &--sum {
                background: $summer-tile-bg;
                color: var(--dark-text);
            }

            &--aut {
                background: $autumn-tile-bg;
                color: var(--dark-text);
            }

            &--selected {
                transform: none;
                border-bottom: 3px solid var(--dark-text);
            }

            &+.lane {
                margin-left: 4px;
            }
        }
    }

    .mana-indicator {
        align-items: center;
        background: $mana-bg;
        color: var(--light-text);
        display: flex;
        height: 1.5em;
        justify-content: center;
        margin: 4px 10px 8px 8px;
        width: 1.5em;
        transition: background-color 1s ease-out;
        transform: rotate(45deg);

        &--empty {
            background: $mana-bg--empty;
            color: var(--dark-text);
        }

        span {
            font-size: 1.2em;
            transform: rotate(-45deg);
        }
    }

    .turn-indicator {
        border-radius: 8px;
        animation: gradient 5s ease infinite;
        background: linear-gradient(-45deg, $user-bg, darken($user-bg, 10%), $user-bg, lighten($user-bg, 5%));
	    background-size: 400% 400%;
        top: 5%;
        max-width: 50%;
        padding: 8px;
        border-radius: 4px;
        margin: 0 8px 0 4px;
        color: var(--light-text);

        &--enemy {
            background: linear-gradient(-45deg, $enemy-bg, darken($enemy-bg, 10%), $enemy-bg, lighten($enemy-bg, 5%));
        }
    }
}
