.tile {
    background: #cccccc;
    border: 1px solid white;
    color: var(--light-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $tile-height;
    position: relative;
    width: $tile-width;
    transition: $game-transition;

    &--lane-selected {
        transform: scale(1.1);
        z-index: 2;
    }

    &--final-pos {
        &:after {
            background: rgba($user-bg, .3);
            border-radius: 50%;
            border: 1px dashed #cecece;
            content: ' ';
            height: 14px;
            position: absolute;
            top: calc(50% - 4px);
            width: 14px;
            z-index: 3;
        }
    }

    &--move-pos {
        &:after {
            background: rgba($user-bg, .1);
            border-radius: 50%;
            border: 1px dashed #cecece;
            content: ' ';
            height: 8px;
            position: absolute;
            top: calc(50% - 6px);
            width: 8px;
            z-index: 2;
        }
    }

    &--restricted {
        &:after {
            background-image: repeating-linear-gradient(45deg,
                    transparent,
                    transparent 8px,
                    rgba(255, 255, 255, 0.3) 8px,
                    rgba(255, 255, 255, 0.3) 16px);
            content: ' ';
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }

    &:nth-child(4n + 1) {
        background: $winter-tile-bg;
    }

    &:nth-child(4n + 2) {
        background: $spring-tile-bg;
    }

    &:nth-child(4n + 3) {
        background: $summer-tile-bg;
    }

    &:nth-child(4n) {
        background: $autumn-tile-bg;
    }
}

.unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4px;
    z-index: 3;
    margin: 4px;
    font-size: 0.8em;

    &--enemy {
        animation: translateEnemyTile 3s forwards;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        .unit__icon {
            background: $enemy-bg;
        }
    }

    &--user {
        animation: translateUserTile 3s forwards;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        .unit__icon {
            background: $user-bg;
        }
    }

    &--dead {
        font-size: 0.6em;

        &.unit--user,
        &.unit--enemy {
            animation: none;
        }

        opacity: 0.2;
    }

    &__icon {
        border: 1px solid var(--light-text);
        border-radius: 50%;
        height: 16px;
        margin: 2px 0;
        width: 16px;
    }

    &__label {
        background: #3d3d3d;
        border-radius: 4px;
        display: flex;
        padding: 4px;
        text-align: center;

        span {
            margin-right: 4px;
        }
    }

    .health-bar-container {
        display: flex;
        height: 4px;
        margin-top: 4px;
        min-width: fit-content;
        width: $tile-width / 2;

        .health-bar {
            background: $health-missing-bg;
            display: flex;
            margin: 0 auto;
        }

        .health-percent {
            background: $health-bar-bg;
            transition: $health-bar-transition;
            width: 100%;
        }
    }
}

@keyframes translateEnemyTile {
    0% {
        transform: translate(0, 64px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes translateUserTile {
    0% {
        transform: translate(0, -64px);
    }

    100% {
        transform: translate(0, 0);
    }
}
