.tile {
    background: #cccccc;
    border: 1px solid white;
    color: var(--light-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $tile-size;
    position: relative;
    width: $tile-size;

    &--restricted {
        &:after {
            content: ' ';
            background-image: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 8px,
                rgba(255, 255, 255, 0.3) 8px,
                rgba(255, 255, 255, 0.3) 16px
            );
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }

    &:nth-child(4n + 1) {
        background: $winter-tile-bg;
    }

    &:nth-child(4n + 2) {
        background: $spring-tile-bg;
    }

    &:nth-child(4n + 3) {
        background: $summer-tile-bg;
    }

    &:nth-child(4n) {
        background: $autumn-tile-bg;
    }
}

.unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4px;
    z-index: 2;
    margin: 4px;
    font-size: 0.8em;

    &--cpu {
        animation: translateCpuTile $animation-duration forwards;
        animation-iteration-count: 1;

        .unit__icon {
            background: $enemy-bg;
        }
    }

    &--user {
        animation: translateUserTile $animation-duration forwards;
        animation-iteration-count: 1;

        .unit__icon {
            background: $user-bg;
        }
    }

    &--dead {
        font-size: 0.6em;

        &.unit--user,
        &.unit--cpu {
            animation: none;
        }

        opacity: 0.2;
    }

    &__icon {
        border-radius: 50%;
        height: 16px;
        margin: 2px 0;
        width: 16px;
    }

    &__label {
        background: #3d3d3d;
        border-radius: 4px;
        padding: 4px;
        text-align: center;
    }

    &__life-bar {
        background: rgb(163, 32, 32);
        display: flex;
        font-size: 0.8em;
        height: 3px;
        margin-top: 4px;
        min-width: fit-content;
        width: $tile-size / 3;

        .unit__life-percent {
            background: rgb(43, 163, 32);
            transition: width 1s ease-out;
            width: 100%;
        }
    }
}
