@import './partials/variables';
@import './game-partials/game-variables';
@import './game-partials/battleground';
@import './game-partials/cards';
@import './game-partials/events';
@import './game-partials/field';
@import './game-partials/fight-sim';
@import './game-partials/game-bar';
@import './game-partials/units';

.game-menu {
    position: absolute;
    top: 16px;
    z-index: 1;
    right: 16px;
    text-align: right;

    a {
        text-decoration: none;
    }

    &__toggle {
        color: var(--light-text);
        background: $primary-color;
        list-style: none;
        margin: 0;
        padding: 8px 12px;
    }

    &:hover {
        cursor: pointer;

        .game-menu__dropdown {
            display: block;
            opacity: 1;
        }
    }

    &__dropdown {
        display: none;
        opacity: 0;
        list-style-type: none;
        margin-top: 8px;
        padding: 0;

        a {
            display: block;
            padding: 1em;
            border: 1px solid $game-menu-border;
            background-color: $game-menu-bg;
            text-align: center;
            text-decoration: none;
            color: var(--light-text);
            width: 6em;
        }

        a:hover {
            background-color: darken($game-menu-bg, 5%);
        }
    }
}

.game-text {
    margin: 4px auto;
    letter-spacing: .15em;
    animation: fadeIn 1.5s forwards;
}
