@import './partials/variables';
@import './game-partials/battleground';

$game-menu-bg: darken($primary-color, 5%);

.game-menu {
    position: fixed;
    top: 128px;
    right: 64px;

    a {
        text-decoration: none;
    }

    &__toggle {
        color: var(--light-text);
        background: $primary-color;
        border-radius: 8px;
        list-style: none;
        margin: 0;
        padding: 8px 12px;
    }

    &:hover {
        cursor: pointer;

        .game-menu__dropdown {
            visibility: visible;
            opacity: 1;
        }
    }

    &__dropdown {
        visibility: hidden;
        opacity: 0;
        list-style-type: none;
        margin-top: 10px;
        padding: 0;

        a {
            display: block;
            padding: 1em;
            background-color: $game-menu-bg;
            text-align: center;
            text-decoration: none;
            color: var(--light-text);
            width: 6em;
        }

        a:hover {
            background-color: darken($game-menu-bg, 5%);
        }
    }
}

.game-text {
    overflow: hidden;
    margin: 4px auto;
    letter-spacing: .15em;
    animation: fadeIn 1.5s forwards;
}
