$alert-error-bg: #d9534f;
$alert-success-bg: #457e37;
$alert-info-bg: #00c6ff;

.alert {
    animation: breathe 2s infinite, fadeOut 3s ease-in-out;
    border-left-width: 5px;
    border-radius: 3px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 50%;
    overflow-y:auto;
    padding: 20px;
    position:absolute;
    top: 0;
    width: fit-content;
    z-index: 7;

    &--error {
        background-color: $alert-error-bg;
        border: 1px solid darken($alert-error-bg, 5%);
        color: var(--light-text);
    }

    &--success {
        background-color: $alert-success-bg;
        border: 1px solid darken($alert-success-bg, 5%);
        color: var(--light-text);
    }

    &--info {
        background-color: $alert-info-bg;
        border: 1px solid darken($alert-info-bg, 5%);
        color: var(--light-text);
    }

    &--permanent {
        animation: none;
    }
}

.loading-icon {
    font-size: 0.8em;
    margin: 0 4px;

    svg {
        animation: rotate 1.2s linear infinite;
    }
}
