@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes deadTile {

  0%,
  10%,
  20%,
  30%,
  40% {
    transform: translate3d(0, 0, 0);
  }

  5%,
  15%,
  25%,
  35% {
    transform: translate3d(-10px, 0, 0);
  }

  41% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
