header {
    background: #71778a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #626879, #71778a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #626879, #71778a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: var(--light-text);

    .container {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        padding: 1em;
    }

    h1 {
        margin: 0;
    }

    .nav-links {
        display: flex;

        a {

            &:link,
            &:visited {
                border: 2px solid transparent;
                color: var(--header-text-color);
                padding: 0px 4px;
                text-align: center;
                transition-duration: 0.4s;
                text-decoration: none;
                font-size: 16px;
                cursor: pointer;
                display: inline-block;

                &.active {
                    border-bottom: 2px solid lighten($primary-color, 15%);
                }
            }

            &:hover,
            &:active {
                border-bottom: 2px solid #fefefe;
            }
        }

        a+a {
            margin-left: 16px;
        }
    }
}
