html,
body,
#root {
  height: 100%;
  /* needed for proper layout */
}


body {
  background: $body-bg;
  background: -webkit-linear-gradient(to right, $body-bg, darken($body-bg, 5%));
  background: linear-gradient(to right, $body-bg, darken($body-bg, 5%));
  overscroll-behavior: none;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  color: var(--dark-text);
  flex: 1 1 auto;
  padding: 1em;
  position: relative;
  width: $container-width;
  margin: 0 auto;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: var(--dark-text);
  color: var(--light-text);
  flex: 0 0 auto;
  padding: 1em;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}
