html, body {
  height: 100%;
  overscroll-behavior: none;
  background: $body-bg;
  background: -webkit-linear-gradient(to right, $body-bg, darken($body-bg, 5%));
  background: linear-gradient(to right, $body-bg, darken($body-bg, 5%));
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  color: var(--dark-text);
  flex: 1;
  padding: 1em;
  position: relative;

  &:after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
  }
}

@media (--break-lg) {
  main {
    padding-top: var(--space-lg);

    &:after {
      margin-top: var(--space-lg);
    }
  }
}

header,
footer {
  flex: none;
}

footer {
  text-align: center;
  background-color: var(--dark-text);
  color: var(--light-text);
  flex: 0 0 auto;
  padding: 1em;
}

