/* Tooltip container */
.tooltip {
    display: inline-block;
    position: relative;

    &--game {
        .tooltip__text {
            margin-left: -32px;
            padding: 5px 4px;
            width: 64px;
        }
    }

    &__text {
        background-color: var(--dark-text);
        border-radius: 6px;
        bottom: 100%;
        color: var(--light-text);
        left: 50%;
        margin-bottom: 4px;
        margin-left: -60px;
        padding: 5px 0;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: 120px;
        z-index: 1;
    }

    &:hover &__text,
    &:focus &__text{
        visibility: visible;
    }
}
