/* Tooltip container */
.tooltip {
    cursor: help;
    display: inline-block;
    position: relative;

    &--game {
        .tooltip__text {
            font-size: 0.8em;
            margin-left: -35px;
            padding: 4px 0px;
            width: 75px;
        }
    }

    &__text {
        background-color: var(--dark-text);
        border-radius: 6px;
        bottom: 100%;
        color: var(--light-text);
        left: 50%;
        margin-bottom: 6px;
        margin-left: -60px;
        padding: 5px 0;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: fit-content;
        max-width: 200px;
        z-index: 4;
    }

    &:hover &__text,
    &:focus &__text{
        visibility: visible;
    }
}
