// COLORS
$primary-color: #B0D7FF;
$primary-text-color: var(--dark-text);
$secondary-color: #2D3142;
$secondary-text-color: var(--light-text);

$body-bg: #EBEBEB;
$container-width: 1366px;
$game-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

:root {
    // TYPOGRAPHY
    --font-primary: 'Raleway', sans-serif;
    --font-heading: 'Righteous', cursive;

    /* set base values */
    --text-base-size: 14px;
    --text-scale-ratio: 1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

    /* text color */
    --link-text: #173d69;
    --light-text: #ffffff;
    --dark-text: #25283D;
}

